*{
margin: 0px;
font-family: arial;
border: border-box;
}
.navbar{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    height: 50px;
    width:113px;
    background-image: url(download.jpg);
    background-size: cover;
    margin: 1px;
    padding-left: 6px;
    padding-top: 1px;
    padding-right: 8px;
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:1.5px solid white;
    border-radius:3px;
}

/**box2**/
.add-first{
   color:#cccccc;
   font-size:0.85rem;
   margin-left: 15px;
   margin-top: 8px;
}
.add-second{
   font-size: 1rem;
   margin:3px
}
.add-icon{
    display:flex;
    align-items: center;
}
.nav-address{
    height: 50px;
    width: 90px;
}

/**box3**/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    position: static; 
}
.nav-search1{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none
}
.nav-search2{
    width:100%;
    font-size: 1rem;
    border: none;
    
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:rgba(209, 202, 16, 0.965);
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    
}

/**box4**/
.returnother{
    padding: 5px;
}

span{
    font-size: 0.9rem;
}
.account{
    font-size: 0.85rem;
    font-weight:800; 
}

/**pannel**/
.pannel{
    height: 38px;
    background-color: #222f3d;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-option p {
      display:inline;
      margin-left: 15px;
}
.pannel-option{
    width: 70%;
}
.pannel-deals{
    font-weight: 700;
    font-size: 1rem;
}
.x{
    border: 1px solid transparent;
    padding:5px;
}
.x:hover{
    border:1px solid white;
    border-radius:4px;
    
}
.all{
    padding:5px;
}

/**hero section**/

.hero-sec{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-info{
    background-color: rgb(255, 255, 255);
    font-size: 0.85rem;
    height: 40px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    box-shadow: 10px 10px 30px gray;
}
.hero a{
    color: #007175;
}
.hero{
    font-size: 18px;
}
/**main containt**/

.box{
    height: 340px;
    width: 290px;
    background-color: white;
}
.boxing{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px; 
}
body{
    background-color: rgba(44, 75, 44, 0.242);
}

/**shop section**/
.shop{
    height:80%;
    width:90%;
    display: flex;
}
    
.shop-image{
    height:70%;
    width:80%;
    background-size: cover;
    margin-left: 27px;
    margin-top: 10px;
}
.boxing a{
    color:#007175; 
    display: flex;
    justify-content: center;
   margin-top: 20px;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#me{
    margin-top: 30px; 
}
.boxing p:hover{
    color: blue;
    box-shadow: 3px 3px 5px black;
}

/**footer**/

.about{
    height: 50px;
    margin-top: 25px;
    background-color: #222f3d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    height: 400px;
    background-color: #0e1d2d;
}
.des-1{
    color: white;
}
.footer{
    
    font-size:16px;
    font-weight: 600;
}
.footer-pannel{
 background-color:#222f3d;
 height:300px;
 color: white; 
 display: flex;  
 justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 0.85rem;
    color:#dddddd;
    margin-top: 10px;
}
.footer-pannel p{
    font-weight: 700; 
}
ul a:hover{
    text-decoration:white underline ;
}
.footer-pannel2{
    height: 68px;
    background-color:#222f3d;
   border-top:0.5px solid white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.pannel-logo{
    height: 50px;
    width:113px;
    background-image: url(image.png);
    background-size: cover;
}

/**last pannel**/

.last{
    background-color: black;
    color: white;
    height: 70px;
    text-align:center;
    padding-top:8px;
    font-size: 0.85rem;
    color: #DDDDDD;
}
.last a:hover{
    text-decoration: 1px underline grey;
}
.last a{
   margin-left:25px;
}
.last-1{
  margin-top:15px;
}


